# Scrutinizing IPL Trends

##### IPL is a major league of cricket in world. This analysis of IPL focuses on analysizing various factors which will help to study the trends of this league.

In [1]:
import pandas as pd  #for processing of dataset
import numpy as np #for arrays and linear algebra
import matplotlib.pyplot as plt #for making graphs

In [2]:
#Plotly's Python graphing library makes interactive and attractive graphs
#import chart_studio.plotly as py
#from plotly import tools
#init_notebook_mode(connected=False)
#import plotly.figure_factory as ff
from plotly.offline import init_notebook_mode,iplot
import plotly.graph_objs as go

In [3]:
# importing the csv files
ball = pd.read_csv('ball.csv')
match = pd.read_csv('match.csv')

In [4]:
ball

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [5]:
match

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [6]:
# replacing the names of team with their acronyms and 
# considering Delhi Daredevils and Deccan Charges same as Delhi Capitals and Sunrisers Hydrabad respectivley
x = ['Mumbai Indians', 'Chennai Super Kings', 
     'Royal Challengers Bangalore', 'Kings XI Punjab', 
     'Sunrisers Hyderabad', 'Kolkata Knight Riders' , 
     'Delhi Capitals', 'Rajasthan Royals', 
     'Gujarat Lions',  'Rising Pune Supergiant',
    'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
    'Delhi Daredevils', 'Deccan Chargers']
y = ['MI', 'CSK', 'RCB', 'KXIP', 'SRH', 'KKR', 
     'DC', 'RR', 'GL', 'RPS', 'KTK', 'PW', 'RPS', 'DC', 'SRH']

ball.replace(x,y, inplace = True)
match.replace(x,y, inplace = True)

In [7]:
ball

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,KKR,RCB
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,KKR,RCB
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,KKR,RCB
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,KKR,RCB
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,KKR,RCB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,DC,MI
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,DC,MI
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,DC,MI
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,DC,MI
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,DC,MI

In [8]:
match

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,RCB,KKR,RCB,field,KKR,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,KXIP,CSK,CSK,bat,CSK,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,DC,RR,RR,bat,DC,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,MI,RCB,MI,bat,RCB,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,KKR,SRH,SRH,bat,KKR,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,RCB,MI,MI,field,RCB,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,MI,DC,DC,field,MI,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,RCB,SRH,SRH,field,SRH,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,DC,SRH,DC,bat,DC,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,DC,MI,DC,bat,MI,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [9]:
match.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

## Plotting number of matches of each season

In [ ]:
match['year'] = match['date'].str[:4].astype(int) #getting year from date column
data = go.Histogram(x=match['year'], marker=dict(color = '#8be1c5', line=dict(width=0.5))) #making histogram with no of matches in year and giving it a color and border to each block
layout = go.Layout(title='No. of matches in every season', 
                   xaxis=dict(title='season',tickmode='linear'), # tickmode is used to display every year on x axiss
                   yaxis=dict(title='No. of matches'), bargap=0.4) #giving the layout to histogram
graph= go.Figure(data=data, layout=layout) #making the graph
iplot(graph) #plotting the graph

##### Analysis: The year 2013 has maximum number of matches. It can be because of super over. Also there were 10 teams in 2011, 9 in 2012 and 2013

## Total wins of a team

In [ ]:
# concat different columns of team 1 and team 2 to get match of each team
no_of_matches_played=pd.concat([match['team1'],match['team2']])

In [ ]:
no_of_matches_played

In [ ]:
# calculating the matches of each team
# When we reset the index, the old index is added as a column, and a new sequential index is used
no_of_matches_played=no_of_matches_played.value_counts().reset_index()

In [ ]:
no_of_matches_played

In [ ]:
# giving the names to coloumns
no_of_matches_played.columns=['Team','Total Matches']

In [ ]:
no_of_matches_played

In [ ]:
# calculating total wins of each team
wins = match['winner'].value_counts().reset_index()

In [ ]:
wins

In [ ]:
# giving names to wins table
wins.columns=['Team','winner']

In [ ]:
wins

In [ ]:
# merging the tables to get no of wins of each team
winners = pd.merge(no_of_matches_played,wins)

In [ ]:
winners

In [ ]:
# making table
table = go.Table(
    header=dict(values=["Team","Total Matches","Wins"], # giving the values of header of table
                fill = dict(color='#e9dd77')),
    cells=dict(values=[winners['Team'], winners['Total Matches'], winners['winner']],
              fill = dict(color='#e6e2c2'))) #providing the values to be filled in cells of table

layout = dict(
    title='Total Matches vs Wins per team',  
)

fig1 = dict(data=[table], layout=layout) #using list for data as it contains 2 values - header and cells 
iplot(fig1)

##### Analysis: It shows the total matches played by each team and no of matches won

## Percentage win of each team

In [ ]:
# making bar for team v/s total matches
trace1 = go.Bar(x=winners.Team,y=winners['Total Matches'],
                name='Total Matches',marker=dict(color='#d46d40'))

# making bar for team v/s no of wins
trace2 = go.Bar(x=winners.Team,y=winners['winner'],
                name='Matches Won',marker=dict(color='#1bafa6'))

# making bar for team v/s percentage win
trace3 = go.Bar(x=winners.Team,
               y=(round(winners['winner']/winners['Total Matches'],4)*100), #4 indiacates the number of digits for percentage
               name='Win Percentage',marker=dict(color='#af1b92'))

# combining the 3 values under one team
data = [trace1, trace2, trace3]

# providing layout to graph
layout = go.Layout(title='Match Played, Wins And Win Percentage',xaxis=dict(title='Team'),
                   yaxis=dict(title='Count'))

bar = go.Figure(data=data, layout=layout)
iplot(bar)

##### Analysis: It shows that CSK has highest win percentage followed by MI

## No. of matches umpired

In [ ]:
umpire = pd.concat([match['umpire1'], match['umpire2']]) #concating the columns to get a count of match for each umpire
umpire = umpire.value_counts().reset_index() #counting the number of matches for each umpire
umpire.columns=['Umpire Name','No. of matches'] #updating the name of columns

In [ ]:
umpire.head(10)

##### Analysis: S Ravi has umpired in 121 matches, followed by Dharmasena who has umpired in 94 matches.

## Matches at different venue

In [ ]:
#data for bar graph
venue_data = go.Bar(x=match['venue'].value_counts().index, #getting names of venue
                    y=match['venue'].value_counts()) #getting the number of matches at each venue

#layout of bar graph
venue_layout = go.Layout(title='Match Played at different stadiums',xaxis=dict(title='Venue'),
                   yaxis=dict(title='Match count'))

venue_bar = go.Figure(data=venue_data, layout=venue_layout)
iplot(venue_bar)

##### Analysis: So Eden Gardens, M Chinnaswamy, Wankhede and Feroz Shah Kotla are stadiums with most matches because most of each season’s eliminators, playoffs and finals were there.

## No. of tosses won by each team

In [ ]:
match['toss_winner'].value_counts()

In [ ]:
# data of toss for bar graph
toss = go.Bar (x=match['toss_winner'].value_counts().index, #getting the names of teams
              y=match['toss_winner'].value_counts(), name='Toss won', marker=dict(color='green')) # getting the value of number of tosses won

toss_data = [trace1, toss] #combining the number of matches and toss won under team name

#layout for toss_bar graph
toss_layout = go.Layout(title='No. of tosses won be each team',xaxis=dict(title='team'),
                   yaxis=dict(title='count'))

toss_bar = go.Figure(data=toss_data, layout=toss_layout)
iplot(toss_bar)

##### Analysis: Mumbai Indians have won the most tosses

## Decision after winning toss

In [ ]:
toss_decision = match['toss_decision'].value_counts()

In [ ]:
toss_decision

In [ ]:
labels = (np.array(toss_decision.index)) #getting the 'field' and 'bat' in labels array
values = (np.array((toss_decision / toss_decision.sum())*100)) # getting the percentage in array

In [ ]:
# data for toss pie chart
toss_decision_data = go.Pie(labels = labels,
                           values = values)
# layout for toss pie chart
toss_decision_layout = go.Layout(title='Decision after wining toss')

toss_pie = go.Figure(data = toss_decision_data, layout = toss_decision_layout)
iplot(toss_pie)

##### Analysis: After winning the toss, team tends to field first

## Does toss win matches?

In [ ]:
# adding a column toss_win_match in dataset
# if toss_winner = winner, then put yes else put no
match['toss_win_match'] = np.where((match.toss_winner 
                                    == match.winner),'Yes','No')

In [ ]:
# getting the count of yes and no
toss_match_win = match['toss_win_match'].value_counts()

In [ ]:
toss_match_win

In [ ]:
toss_win_match_labels = (np.array(toss_match_win.index)) #getting the 'yes' and 'no' in labels array
toss_win_match_values = (np.array((toss_match_win / toss_match_win.sum())*100)) # getting the percentage in array

In [ ]:
# data for toss_win_match pie chart
toss_win_match_data = go.Pie(labels = toss_win_match_labels,
                           values = toss_win_match_values)
# layout for toss pie chart
toss_win_match_layout = go.Layout(title='Does winning toss infers winning match?')

toss_win_match_pie = go.Figure(data = toss_win_match_data, layout = toss_win_match_layout)
iplot(toss_win_match_pie)

##### Analysis: Though winning toss gives you an advantage but it doesn't significantly implies that winning the toss helps in winning the game.

## Highest score of IPL

In [ ]:
# calulating the totoal score by grouping id, innings,batting_team, bowling_team
# if all four matches then calculate sum of total_runs
high_scores=ball.groupby(['id', 'inning','batting_team','bowling_team'])['total_runs'].sum().reset_index()

In [ ]:
high_scores

In [ ]:
# get scores of greater than 200
high_scores=high_scores[high_scores['total_runs']>=200]

In [ ]:
high_scores

In [ ]:
# getting the first 10 highest score
hss = high_scores.nlargest(10,'total_runs')

In [ ]:
hss

In [ ]:
# getting the data for table
hss_data = go.Table(
    header=dict(values=["Inning","Batting Team","Bowling Team", "Total Runs"], # values for head
                fill = dict(color = 'lightgrey')),
    cells=dict(values=[hss['inning'], hss['batting_team'], hss['bowling_team'], hss['total_runs']])) # values for cells

hss_layout = dict(
    title='Highest scores of IPL',   
)

hss_table = dict(data=[hss_data], layout=layout)
iplot(hss_table)

##### Analysis: Highest score in IPL is 263 made by RCB against PW

## Total and average runs per season

In [ ]:
# we took id and year column from match and merged it with ball dataset through id column
batsmen = match[['id','year']].merge(ball)

In [ ]:
batsmen

In [ ]:
# we calculated the sum of total runs grouped by year
season=batsmen.groupby(['year'])['total_runs'].sum().reset_index()

In [ ]:
season

In [ ]:
# we counted the number of matches through id and grouped it according to year
avgruns_each_season=match.groupby(['year']).count().id.reset_index()

In [ ]:
avgruns_each_season

In [ ]:
# renamed the column
avgruns_each_season.rename(columns={'id':'matches'},inplace=1)

In [ ]:
avgruns_each_season

In [ ]:
# added a column total_runs 
avgruns_each_season['total_runs']=season['total_runs']

In [ ]:
avgruns_each_season

In [ ]:
# added a coloumn for avg runs per per match of each season
avgruns_each_season['average_runs_per_match']=avgruns_each_season['total_runs']/avgruns_each_season['matches']

In [ ]:
avgruns_each_season

##### Analysis: maximum runs scored was in year 2013. one reason might be because there were 9 teams. There were high scoring match in year 2018 as its average runs per match is maximum